@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.comments {
  margin: 40px;
}

.title {
  color: #FFFFFF;
}

.postMargin {
  margin: 3% 0% 5% 0%;
}

.margin {
  margin-left: 10%;
  margin-right: 10%;
  color: #FFFFFF;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.post {
  margin: 5%;
  color: #B3EFFF;
}

 .preblocks {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
 }       
 
 .codeblocks {
     font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
     font-size: 95%;
     line-height: 140%;
     white-space: pre;
     white-space: pre-wrap;
     white-space: -moz-pre-wrap;
     white-space: -o-pre-wrap;
     background: #faf8f0;
 }
